# Global reviewers
* @orozery @liran @nilig @michalmalka @yankay @hyeongyun0916 @sagearc

# Global owners for the entire repo
* @vMaroon @dannyharnik @kfirtoledo @liu-cong

# Package specific codeowners, including global owners
/pkg/preprocessing @guygir
/services/uds_tokenizer @delavet @osswangxining
